<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <span>You are: {{ .UserName }}</span>
    <span>Room name: {{ .RoomName }}</span>
    <span>Room created at: {{ .CreatedAt }}</span>
    <span>Room created by: {{ .Author }}</span>
    <div class="container">
        <div class="chat-window">
            <div class="messages" id="messages">
            </div>
            <form id="form">
                <div class="input-area">
                    <input type="text" name="text" min="1" id="messageInput" placeholder="Type a message...">
                </div>
                <button class="submitBtn" id="submitBtn" type="submit">Send</button>
            </form>
        </div>
    </div>
    <script>
    const form = document.getElementById("form");
    const messageInput = document.getElementById("messageInput");
    const messages = document.getElementById("messages")
    const submitBtn = document.getElementById("submitBtn")

    // console.log(`{{ .Public_WSURL }}/messages`)
    fetch(`/messages/{{ .RoomID }}`, {
      headers: {
        "ngrok-skip-browser-warning": "true",
      },
    })
      .then(res => {
      if(!res.ok) {
        return new Error(`HTTP error! status: ${res.status}`)
      }
      return res.json()
    }).then(data => {
      if(data?.length > 0) {
        data.forEach(object => {
          const messageChild = document.createElement("p")
          messageChild.textContent = `From ${object.user}: ${object.text} (${object.createdAt})`
          messages.appendChild(messageChild)
        })
      }
    })
      .catch(err => console.error(err))

    const socket = new WebSocket("{{ .Public_WSURL }}/ws/rooms/{{ .RoomID }}");
    socket.onopen = () => {
      console.log("Socket Open")
    };

    socket.onmessage = (event) => {
      const message = JSON.parse(event.data);
      const messageChild = document.createElement("p")
      messageChild.textContent = `From ${message.user}: ${message.text} (${message.createdAt})`
      messages.appendChild(messageChild)

    };

    form.addEventListener("submit", (e) => {
      e.preventDefault() // because by default it send http request
      socket.send(
        JSON.stringify({
          text: messageInput.value,
          user: "{{ .UserName }}",
          roomId: "{{ .RoomID }}"
        })
      )
    })

    </script>
</body>
</html>
