<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piyambak - Home</title>
</head>
<body>
    <h1>PIYAMBAK</h1>
    <label for="username-input">Chat as:</label>
    <input name="username-input" id="username-input" type="text" placeholder="Enter Username" required>
    <button disabled id="btn" >Continue...</button>
<script>
  const usernameInput = document.getElementById("username-input")
  const bnt = document.getElementById("btn")
  usernameInput.addEventListener("change", (e) => {
    e.preventDefault()
    if(usernameInput.value) {
      btn.disabled = false
    } else {
      btn.disabled = true
    }
  })

  let username = localStorage.getItem("username")
  if(username) {
    btn.disabled = false
    usernameInput.value = username
  }

  function generateUserTag(length = 6) {
    const chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
    const bytes = new Uint8Array(length);
    crypto.getRandomValues(bytes);

    return Array.from(bytes, b => chars[b % chars.length]).join("");
  }

  btn.addEventListener("click", (e) => {
    e.preventDefault()

    if(!usernameInput) {
      alert("Enter username first!")
    }

    let username = localStorage.getItem("username")
    if(!username) {
      username = `${usernameInput.value}#${generateUserTag()}`;
      localStorage.setItem("username", username)
    }

    window.location.href = "/rooms";
    return
  })

</script>
</body>
</html>
