<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form id="form">
        <label for="name">Enter Room Name</label>
        <input id="name" name="name" type="text" required>
        <label for="password">Enter Room Password</label>
        <input id="password" name="password" type="password" placeholder="optional">
        <button type="submit">Enter</button>
    </form>

    <div id="rooms" class="rooms">
        {{ range .Rooms }}
          <form action="/rooms/{{ .ID }}" method="POST" class="roomForm">
            <span>
              Room Name {{ .Name }} ({{ .CreatedAt }})
            </span>

            <input
              type="password"
              name="password"
              placeholder="Enter password of the room"
            >

            <button type="submit">JOIN</button>
          </form>
        {{ end }}
    </div>
    <script>
    const form = document.getElementById("form")
    const name = document.getElementById("name")
    const password = document.getElementById("password")

    form.addEventListener("submit", (e) => {
      e.preventDefault() // because by default it send http request

      const data = {
        "name": name.value,
        "password": password.value
      }

      fetch("/rooms", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      })
      .then(response => {
        if(response.redirected) {
          window.location.reload()
        }
      }).catch(err => {
        console.log(err)
      })
    })
    </script>
</body>
</html>
