<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form id="form">
        <label for="name">Enter Room Name</label>
        <input id="name" name="name" type="text" required>
        <label for="password">Enter Room Password</label>
        <input id="password" name="password" type="password" placeholder="optional">
        <button type="submit">Enter</button>
    </form>

    <div id="rooms" class="rooms">
        {{ range .Rooms }}
          <form action="/rooms/{{ .ID }}/join" method="POST" class="roomForm" id="roomForm">
            <span>
              Room Name {{ .Name }} ({{ .CreatedAt }})
            </span>
            {{ if .Password }}
                <span id="passwordInfo">Password required</span>
            {{ else }}
                <span id="passwordInfo">No password required</span>
            {{ end }}

            <input
              type="password"
              name="password"
              placeholder="Enter password of the room"
            >

            <input type="hidden" name="username" class="usernameInput">

            <button type="submit">JOIN</button>
          </form>
        {{ end }}
    </div>
    <script>
    const form = document.getElementById("form")
    const name = document.getElementById("name")
    const password = document.getElementById("password")
    const passwordInfo = document.getElementById("passwordInfo")

    const userName = localStorage.getItem("username");
    if (!userName) {
      alert("Username tidak ditemukan. Masukan username terlebih dahulu");
      window.location.href = "/";
      // return
    }

    document.querySelectorAll(".roomForm").forEach(form => {
      form.addEventListener("submit", (e) => {
        form.querySelector(".usernameInput").value = userName;
      });
    });

    form.addEventListener("submit", (e) => {
      e.preventDefault() // because by default it send http request

      const data = {
        "name": name.value,
        "password": password.value,
        "author": userName
      }

      console.log(data)

      fetch("/rooms", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      })
      .then(response => {
        if(response.redirected) {
          window.location.reload()
        }
      }).catch(err => {
        console.log(err)
      })
    })
    </script>
</body>
</html>
